.body_backgorund {
	background-image: url("Image.jpg") ;
    background-position: center;
	background-size: cover;
}

h1
{
	color: black; 
	font-size: 40px;
    font-family: 'Curlz MT';
}

#myCanvas{
 border-width: 10px;
 background-color: white;
 border-style: double;
}

